@page "/edititem/{SelectedItemId:int}"
@using FrontEnd.Data;
@using FrontEnd.Pages.Dto;
@using FrontEnd.Pages
@using System.Security.Claims;
@inject IDbContextFactory<FoodBoxDB> ContextFactory
@inject NavigationManager NavigationManager


<EditForm Model="selectedItemOrder">
    <DataAnnotationsValidator />
    @if (cart is not null)
    {
        <div class="background">
            <div class="container">
                <div class="screen">
                    <div class="screen-body">
                        <div class="screen-body-item left">
                            <div class="app-title">
                                <span>@cart.CartItems.Where(id => id.Id == SelectedItemId).ToList()[0].Item.ItemName</span>
                            </div>
                        </div>
                        <div class="screen-body-item">
                            <div class="app-form">
                                <div class="app-form-group">
                                    <InputSelect id="quantity" class="form-control"
                                    @bind-Value="@quantityItem">
                                        @foreach (int num in quantity)
                                        {
                                            <option value="@num">@num</option>
                                        }
                                    </InputSelect>
                                </div>
                                <div class="app-form-group buttons">
                                    <button type="submit" class="app-form-button"
                                            disabled="@IsBusy" onclick="@(() => HandleSubmitAsync())">
                                        Submit
                                    </button>
                                    <div style="color:grey;">Price: @(quantityItem * cart.CartItems.Where(id => id.Id == SelectedItemId).ToList()[0].ActualPrice)</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</EditForm>

@code {
    [CascadingParameter]
    public Task<AuthenticationState>? AuthState { get; set; }
    [Parameter]
    public int SelectedItemId { get; set; }
    public EventCallback<bool> OnSubmit { get; set; }
    private EventCallback OnCancel { get; set; }
    private bool IsBusy { get; set; }
    public int quantityItem { get; set; } = 1;
    private int[] quantity = new int[] { 1, 2, 3, 4, 5, 6, 7, 8, 9, 10 };
    OrderingItemDto selectedItemOrder { get; set; } = new();
    private Cart cart { get; set; }

    private async Task HandleValidSubmit()
    {
        if (OnSubmit.HasDelegate)
        {
            await OnSubmit.InvokeAsync(true);
        }
    }
    private async Task HandleInvalidSubmit()
    {
        if (OnSubmit.HasDelegate)
        {
            await OnSubmit.InvokeAsync(false);
        }
    }
    private async Task HandleCancel()
    {
        if (OnCancel.HasDelegate)
        {
            await OnCancel.InvokeAsync();
        }
    }

    private async Task HandleSubmitAsync()
    {
        var context = ContextFactory.CreateDbContext();
        var tempCartItem = await context.CartItems.Where(c => c.Id == SelectedItemId).SingleAsync();
        tempCartItem.Quantity = quantityItem;
        await context.SaveChangesAsync();
        NavigateToOrderPage();
    }

    protected override async Task OnInitializedAsync()
    {
        var context = ContextFactory.CreateDbContext();
        var a = await AuthState;
        var userId = a.User.FindFirstValue(ClaimTypes.NameIdentifier);

        var custs = await context.Customers.ToListAsync();
        Customer customer;
        if (userId is null)
        {
            if ((customer = Order.CheckForCustomer(custs)) is null)
            {
                var userAndCustomer = Order.CreateCustomer();
                context.Customers.Add(customer = userAndCustomer.Item2);
                context.Users.Add(userAndCustomer.Item1);
                await context.SaveChangesAsync();
            }
        }
        else
        {
            customer = custs.Where(opt => opt.UserId == userId).Single();
        }

        cart = await context.Carts
            .Where(c => c.CustomerId == customer.Id)
            .Include(c => c.CartItems)
            .ThenInclude(ci => ci.Item)
            .SingleAsync();

        quantityItem = cart.CartItems.Where(id => id.Id == SelectedItemId).ToList()[0].Quantity;
    }

    private void NavigateToOrderPage()
    {
        NavigationManager.NavigateTo($"/order");
    }
}