@page "/location"
@inject IDbContextFactory<FoodBoxDB> contextFactory

<PageTitle>Location</PageTitle>

<h3>Our Locations</h3>

<!--We want pictures!!!-->
@if (restaurants is not null)
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Country</th>
                <th scope="col">State</th>
                <th scope="col">City</th>
                <th scope="col">Street Address</th>
            </tr>
        </thead>
        <tbody>
            @foreach (Restaurant R in restaurants)
                {
                <tr>
                    <td>@R.RestaurantName</td>
                    <td>@R.Location.Country</td>
                    <td>@R.Location.State</td>
                    <td>@R.Location.City</td>
                    <td>@R.Location.Address</td>
                </tr>
                }
        </tbody>
    </table>
}



@code {
    List<Restaurant>? restaurants { get; set; }

    protected override async Task OnInitializedAsync()
    {
        var context = contextFactory.CreateDbContext();
        restaurants = await context.Restaurants.Include(R => R.Location).ToListAsync();
    }
}
