@page "/order"
@using FrontEnd.Data;
@using FrontEnd.Pages.Dto;
@using System.Security.Claims;
@inject IDbContextFactory<FoodBoxDB> ContextFactory
@inject NavigationManager NavigationManager

<!-- Start of Google Authorization -->
<AuthorizeView>
    <Authorized>
        <div>
            Welcome! @context.User.Identity?.Name
        </div>
    </Authorized>
</AuthorizeView>
<!-- End Google Authorization -->
<h3>Your Order: </h3>
@if (cart is not null && cart.CartItems.Count() > 0)
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Picture</th>
                <th scope="col">Name</th>
                <th scope="col">Quantity</th>
                <th scope="col">Edit</th>
                <th scope="col">Price</th>
                <th scope="col">Remove</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var cartItem in cart.CartItems)
            {
                <tr>
                    <td><img src="Images/@cartItem.Item.Image" class="rounded-pill" alt="@cartItem.Item.ItemName image" style="height:13em;"></td>
                    <td>@cartItem.Item.ItemName</td>
                    <td>@cartItem.Quantity</td>
                    <td><a href="edititem/@cartItem.Id" class="boxed_btn" style="color:black;">Edit</a></td>
                    <td>@(cartItem.ActualPrice * cartItem.Quantity)</td>
                    <td><a href="/removeItem/@cartItem.Id" class="boxed_btn" style="color:black;">Remove</a></td>
                </tr>
            }
        </tbody>
    </table>
    <h3>Order Total: @orderTotal</h3>
    <div class="container" style="margin-top: 1em; margin-bottom: 1em;">
    <button type="submit" class="primary"
            disabled="@IsBusy" @onclick="HandleSubmit">
        Submit
    </button>
    </div>
}
else
{
    <img class="emtbox" src="/Images/EmptyBox.png"/>
}

@code {
    [CascadingParameter]
    public Task<AuthenticationState>? AuthState { get; set; }

    private decimal orderTotal { get; set; } = 0;
    private EventCallback<bool> OnSubmit { get; set; }
    private EventCallback OnCancel { get; set; }
    private bool IsBusy { get; set; }
    private List<string> orderMethods = new() { "Takeout", "Delivery" };
    public string selectedOrderMethod { get; set; } = "Takeout";
    private int[] quantity = new int[] { 1, 2, 3, 4, 5, 6, 7, 8, 9, 10 };
    private Cart cart { get; set; }

    private async Task DeleteItemAsync(CartItem ci)
    {
        var context = ContextFactory.CreateDbContext();
        await context.CartItems.Where(c => c.Id == ci.Id).ExecuteDeleteAsync();
        await context.SaveChangesAsync();
        NavigationManager.NavigateTo("/order");
    }

    private async Task HandleValidSubmit()
    {
        if (OnSubmit.HasDelegate)
        {
            await OnSubmit.InvokeAsync(true);
        }
    }
    private async Task HandleInvalidSubmit()
    {
        if (OnSubmit.HasDelegate)
        {
            await OnSubmit.InvokeAsync(false);
        }
    }
    private async Task HandleCancel()
    {
        if (OnCancel.HasDelegate)
        {
            await OnCancel.InvokeAsync();
        }
    }
    private void HandleSubmit()
    {
        NavegateToCustomerPayment();
    }

    protected override async Task OnInitializedAsync()
    {
        var context = ContextFactory.CreateDbContext();

        var a = await AuthState;
        var userId = a.User.FindFirstValue(ClaimTypes.NameIdentifier);
        var customer = await context.Customers.Where(opt => opt.UserId == userId).SingleAsync();

        cart = await context.Carts
            .Where(c => c.CustomerId == customer.Id)
            .Include(c => c.CartItems)
            .ThenInclude(ci => ci.Item)
            .SingleAsync();

        @foreach (var cartItem in cart.CartItems)
        {
            orderTotal = orderTotal + (cartItem.ActualPrice * cartItem.Quantity);
        }
    }

    private void NavegateToCustomerPayment()
    {
        NavigationManager.NavigateTo($"/CustomerPayment");
    }
}
