@page "/order"
@using FrontEnd.Data;
@using FrontEnd.Pages.Dto;
@inject IDbContextFactory<FoodBoxDB> ContextFactory
@inject NavigationManager NavigationManager
@inject OrderState OrderState

<h3>Your Order: </h3>
@if (OrderState.ItemsInOrder.Count > 0)
{

    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Picture</th>
                <th scope="col">Name</th>
                <th scope="col">Quantity</th>
                <th scope="col">Price</th>
            </tr>
        </thead>
        <tbody>

            @foreach (var restautantItem in OrderState.ItemsInOrder)
            {
                <tr>
                    <td><img src="Images/@restautantItem.RestrauntItem.Item.Image" class="rounded-pill" alt="@restautantItem.RestrauntItem.Item.ItemName image" style="height:13em;"></td>
                    <td>@restautantItem.RestrauntItem.Item.ItemName</td>
                    <td>@restautantItem.Quantity</td>
                    <td>@restautantItem.PriceXQty</td>
                </tr>
            }
            
        </tbody>
    </table>
    <h3>Order Total: @orderTotal</h3>
}
else
{
    <p>No Items Ordered so far</p>
}

@code {
    private decimal orderTotal { get; set; } = 0;
    private EventCallback<bool> OnSubmit { get; set; }
    private EventCallback OnCancel { get; set; }
    private bool IsBusy { get; set; }

    // private async Task HandleValidSubmit()
    // {
    //     if (OnSubmit.HasDelegate)
    //     {
    //         await OnSubmit.InvokeAsync(true);
    //     }
    // }
    // private async Task HandleInvalidSubmit()
    // {
    //     if (OnSubmit.HasDelegate)
    //     {
    //         await OnSubmit.InvokeAsync(false);
    //     }
    // }
    // private async Task HandleCancel()
    // {
    //     if (OnCancel.HasDelegate)
    //     {
    //         await OnCancel.InvokeAsync();
    //     }
    // }
    // private async Task HandleSubmit()
    // {
    //     selectedItemOrder.ItemId = SelectedItemId;
    //     selectedItemOrder.Quantity = quantityItem;
    //     selectedItemOrder.ItemPrice = quantityItem * restaurantsAndItems[RestaurantId - 1].RestaurantItems.Where(id => id.ItemId == (SelectedItemId + 1)).ToList()[0].Price;
    //     selectedItemOrders.Add(selectedItemOrder);
    //     NavigateToOrderPage();
    // }

    protected override void OnInitialized()
    {
        foreach (var restautantItem in OrderState.ItemsInOrder) 
        { 
            orderTotal += restautantItem.PriceXQty; 
        }
    }
}
